body{
	margin: 0;
	padding: 0;
}

#menuSet{
	height: 100%;
	text-align: center;
}


#rty{
	margin: 25px 0 0 0;
	height: 1px;
	background-color: gray;
}

#infoSet h4{
font-size: 35px;
margin: 40px 0 0 50px;
}

#infoSet p{
font-size: 20px;
margin: 0px 0 0 50px;
}

#infoSet2{
	overflow: hidden;
}


#ot1 {
	width: 30%;
	float: left;
	
}

#ot1 h4{
	font-size: 30px;
	margin: 40px 0 0 50px;
	border-right: solid 1px black;
}

#ot1 p{
	font-size: 15px;
	margin: 0px 0 0 50px;
	border-right: solid 1px black;
}

#ot2 {
	width: 20%;
	float: left;
}

#ot2 h4{
	font-size: 30px;
	margin: 40px 0 0 50px;
	border-right: solid 1px black;
}

#ot2 p{
	font-size: 15px;
	margin: 0px 0 0 50px;
	border-right: solid 1px black;
}

#ot3 {
	width: 20%;
	float: left;
}

#ot3 h4{
	font-size: 30px;
	margin: 40px 0 0 50px;
	border-right: solid 1px black;
}

#ot3 p{
	font-size: 15px;
	margin: 0px 0 0 50px;
	border-right: solid 1px black;
}


#ot4 {
	font-size: 15px;
	margin: 25px 0 0 50px;
}

#ot4 img{
	margin: 0 0 0 20px;
}

#fotoPorsh{
	height: 100%;
	overflow: hidden;
}

#fot1{
	width: 60%;
	float: left;

}

#fot2{
	width: 40%;
	float: left;
}

#fot1 img{
	width: 100%;
	
}

#fot3 {
		position: relative;
		margin-bottom: -4px;
}


#fot3 img{
	width: 100%;
}

#fot4  img{
	width: 90%;
}

#otstup{
	height: 20px;
}


#text1{
	width: 100%;
}

#text1 p{
text-align: center;
font-size: 35px;
}



#tablId{
	width: 100%;
	float: left;
	height: 100%;
	overflow: hidden;
}

#tabId1{
	float: left;
	width: 50%;
}

#tabId2{
	float: left;
	width: 50%;
}

table {
    border-collapse: collapse;
    width: 95%;
    margin-bottom: 20px;
}

th, td {
font-size: 17px;
    padding: 8px;
    text-align: right;
    border-bottom: 1px solid #ddd;
}

#blackColor{
	border-bottom: 1px solid black;
}

#grayColor{
	color: #C3C5C5;
}

a.knopka {
	font-size: 17px;
  	float: right;
  	margin: 0 35px 0 0;
  	color: #fff; /* цвет текста */
  	text-decoration: none; /* убирать подчёркивание у ссылок */
  	user-select: none; /* убирать выделение текста */
  	background: #313639; /* фон кнопки */
  	padding: .7em 1.5em; /* отступ от текста */
  	outline: none; /* убирать контур в Mozilla */
} 
a.knopka:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
a.knopka:active { background: rgb(152,15,0); } /* при нажатии */

#colorDivGrey{
	background-color: #191F22;
	height: 100%;
}

#botoomDiv{
 padding: 20px 100px 0 100px;
}

#botoomDiv p{
color: white;
}

#fot12{
	width: 50%;
float: left;
}

#fot12 img{
width: 100%;

}

#fot23{
	width: 50%;
	float: left;
	
}

#fot23-1{
	overflow: hidden;
}

#fot23-1-1{
	width: 50%;
	float: left;
}

#fot23-1-1 img{
	width: 100%;
}

#fot23-1-2{
	width: 50%;
	float: left;
}

#fot23-1-2 img{
	width: 100%;
}

#fot23-2{
		margin-top: -4px;
}

#fot23-2 img{
		width: 100%;
}

#fot12-1{
		margin-bottom: -4px;
}

#fot12-2-1{
	width: 50%;
	float: left;
}

#fot12-2-1 img{
	width: 100%;
}

#fot12-2-2{
	width: 50%;
	float: left;
}

#fot12-2-2 img{
	width: 100%;
}

#galFoto{
	height: 100%; overflow: hidden;
}

#dowlanFile{
	height: 100%;
}

#dowlanFile h4{
	font-size: 30px;
	text-align: center;
}

#dowlFileSet{
	overflow: hidden;
}

#dowlFileSet-1{
	width: 33.3%;
	float: left;
	height: 100px;
	text-align: center;
}

#dowlFileSet-1 a{
	font-size: 20px;
	text-decoration: none;
	color: black;

}

#dowlFileSet-1 a:hover{
	color: red;
}

#posled{
	height: 100%; 
	margin-bottom: 3%;
}

#posled-1 p{
text-align: center;
font-size: 35px;
}

#posled-2{
	overflow: hidden;
}

#leftPos{
	width: 25%;
	float: left;
	text-align: center;
}

#leftPos a{
	font-size: 18px;
	text-decoration: none;
	color: black;
	margin: 0;
}

#leftPos a:hover{
color: red;
}

#toplivo{
	height: 100%;
}

#toplivo-1{
	text-align: center;
}

#toplivo-1 p{
	font-size: 35px;
	margin-bottom: 7px;
}

#toplivo-2{
text-align: center;	
}

#toplivo-2 img{
	width: 90%;
}