body{
	margin: 0;
	padding: 0;
}

#menuSet{
	height: 100px;
	text-align: center;
}


#rty{
	margin: 25px 0 0 0;
	height: 1px;
	background-color: gray;
}

#infoSet h4{
font-size: 35px;
margin: 40px 0 0 50px;
}

#infoSet p{
font-size: 20px;
margin: 0px 0 0 50px;
}

#infoSet2{
	overflow: hidden;
}


#ot1 {
	width: 360px;
	float: left;
	
}

#ot1 h4{
	font-size: 30px;
	margin: 40px 0 0 50px;
	border-right: solid 1px black;
}

#ot1 p{
	font-size: 15px;
	margin: 0px 0 0 50px;
	border-right: solid 1px black;
}

#ot2 {
	width: 280px;
	float: left;
}

#ot2 h4{
	font-size: 30px;
	margin: 40px 0 0 50px;
	border-right: solid 1px black;
}

#ot2 p{
	font-size: 15px;
	margin: 0px 0 0 50px;
	border-right: solid 1px black;
}

#ot3 {
	width: 300px;
	float: left;
}

#ot3 h4{
	font-size: 30px;
	margin: 40px 0 0 50px;
	border-right: solid 1px black;
}

#ot3 p{
	font-size: 15px;
	margin: 0px 0 0 50px;
	border-right: solid 1px black;
}

#ot4 {
	font-size: 15px;
	margin: 25px 0 0 50px;
}

#ot4 img{
	margin: 0 0 0 20px;
}

#fotoPorsh{

height: 100%;
/*background-color: red;*/
overflow: hidden;
}

#fot1{
	width: 60%;
	float: left;

}

#fot2{
	width: 40%;
	float: left;
}

#fot1 img{
	width: 100%;
	
}

#fot3 {
		position: relative;
		margin-bottom: -4px;
}


#fot3 img{
	width: 100%;
}

#fot4  img{
	width: 90%;
}

#otstup{
	height: 20px;
}


#text1{
	width: 100%;
}

#text1 p{
text-align: center;
font-size: 35px;
}



#tablId{
	width: 100%;
	float: left;
}

#tabId1{
	background-color: green; float: left;
	width: 50%;
}

#tabId2{
	background-color: blue; float: left;
	width: 50%;
}